body {
  background-color: black;
  color: #d3d3d3;
  font-family: "poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
nav {
  margin: auto;
  align-content: center;
}

nav ul li {
  text-decoration-style: none;
}
li{
  display: inline;
}
nav a {
  color: #d3d3d3;
  text-decoration: none;
  margin: 0 15px;
  font-size: 22px;
  font-weight: bold;
  align-content: center;
  font-family: "poppins";
}
.container {
  margin-top: 50px;
}
h1 {
  font-size: 72px;
  font-weight: bold;
  font-family: "poppins";
}
p {
  font-size: 18px;
}
.image-container {
  background-image: url("path/to/background.jpg");
  background-blend-mode: screen; /* Blends the image with the background color using the "screen" mode */

}
